body {
  background-color: #000;
}

.header {
	background-color: #000;
}

.nav-bar > ul {
  margin: auto;
  max-width: 1200px;
  padding: 10px;
  width: 100%;
}

.nav-bar li {
  display: inline-block;
  padding: 10px 30px;
  background:#000;
  border:1px solid #8e8e8e;
  
  
}

.nav-bar li.active a {
  color: #eee;
}

.nav-bar li a {
  color: #eb6864;
  display:block;
  width:100%;
}

.nav-bar {
  background-color: #8e8e8e;
  height: 30px;
  text-align: right;
  overflow: hidden;
}

.nav-bar li a:hover {
  color: #eb9995;
  text-decoration:none;
}

.nav-bar li:hover {
  background-color: #333;
}

.main-content {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  background-color: #000;
}

.left > div, .right > div {
  background-color: #999;
  border-radius: 5px;
  clear: both;
  margin: 10px 0;
  padding: 10px 0;
}

.contact .image {
  display: inline-block;
}

.social-links {
 display:inline-block;
}

.contact .image img {
  height: auto;
  max-width: 300px;
  width: 100%;
}

.social-links ul {
  font-size: 25px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}