body {
  background-color: #000;
}

.header {
	background-color: #000;
}

.nav-bar > ul {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.nav-bar li {
  display: inline-block;
  padding: 10px 30px;
  background:#000;
  border:1px solid #8e8e8e;
  
  
}

.nav-bar li.active a {
  color: #eee;
}

.nav-bar li a {
  color: #eb6864;
  display:block;
  width:100%;
}

.nav-bar {
  background-color: #8e8e8e;
  height: 30px;
  text-align: right;
  overflow: hidden;
}

.nav-bar li a:hover {
  color: #eb9995;
  text-decoration:none;
}

.nav-bar li:hover {
  background-color: #333;
}

.main-content {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  background-color: #000;
}

.left > div, .right > div {
  background-color: #999;
  border-radius: 5px;
  clear: both;
  margin: 10px 0;
  padding: 10px 10px;
}

.contact {
   color:#FFFFFF;
   font-size: 17px;

   }

.contact .image {
    float: left;
}

.social-links {
  color: blue;
  pad-top: 10px;
}

.contact .image img {
  height: auto;
  max-width: 175px;
  width: 100%;
}

.social-links ul {
  padding: 0;
  font-size: 20px;
  list-style: outside none none;
  margin: 7px;

}

.social-links ul li {
   display: inline;
   padding-right: 20px;
   }

.social-links ul li i {
display: inline;
}

.map-list {
 font-size: 15px;
 padding: 20px;
 line-height: 7;
 color: #FFF;
 }

 .map-list img {
 float: right;
 padding-right: 20px;
 height: 100px;
 width: 100px;
 }

.more-button {
 float: right;
 background-color: blue;
 color: #000;
 padding-right: 30px;
 padding-bottom: 5px;
 text-shadow: 0px 0px #FFF;

 }

.quote {
  font-size: 12px;
  }

.sample-map img {
   height: auto;
   width: 300px;
   display: block;
   margin-left: auto;
   margin-right: auto
   }

.sample-map {
padding-bottom: 20px;
padding-top: 20px;
}

.sample-map btn {
   background-color: green;
   }

a {
   color: red;
   }