{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
	<!-- Base02 Font CSS -->
	<link rel="stylesheet" href="{% static "base02/stylesheet.css" %}">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
	<div class="header col-lg-12">
		<div class="title col-lg-12"><img src="{% static "Header.jpg" %}" width=70%></div>
		<div class="nav-bar col-lg-12 nav-right">
			<ul>
				<li {% if active = 'home' %}class="active"{% endif %}><a href="{% url "home" %}"><img class="nav-img" src="{% static "nav_2about.jpg" %}"></a></li>
				<li {% if active = 'portfolio' %}class="active"{% endif %}><a href="{% url "portfolio:index" %}"><img class="nav-img" src="{% static "nav_3portfolio.jpg" %}"></a></li>
				<li {% if active = 'cv' %}class="active"{% endif %}><a href="{% url "CV" %}"><img class="nav-img" src="{% static "nav_4cv.jpg" %}"></a></li>
				<li {% if active = 'blog' %}class="active"{% endif %}><a href="{% url "blog:index" %}"><img class="nav-img" src="{% static "nav_5blog.jpg" %}"></a></li>
			</ul>
		</div>
	</div>

{% block content %}{% endblock %}

		<div class="nav-bar col-lg-12">
			<ul>
				<li {% if active = 'home' %}class="active"{% endif %}><a href="{% url "home" %}"><img class="nav-img" src="{% static "nav_2about.jpg" %}"></a></li>
				<li {% if active = 'portfolio' %}class="active"{% endif %}><a href="{% url "portfolio:index" %}"><img class="nav-img" src="{% static "nav_3portfolio.jpg" %}"></a></li>
				<li {% if active = 'cv' %}class="active"{% endif %}><a href="{% url "CV" %}"><img class="nav-img" src="{% static "nav_4cv.jpg" %}"></a></li>
				<li {% if active = 'blog' %}class="active"{% endif %}><a href="{% url "blog:index" %}"><img class="nav-img" src="{% static "nav_5blog.jpg" %}"></a></li>
			</ul>
		</div>


</body>
</html>