{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}Portfolio{% endblock %}
{% block content %}
    <div class="main-content row">
		<div class="left col-lg-12">
            <div class="header">
                <h2 class="top-head">Portfolio</h2>
            </div>

            <div class="map-list">
                <div class="map-header">
                    <h4 class="sub-head">Selected Maps and Spatial Analysis</h4>
                </div>
                {% if projects_list %}
                {% for project, maps in projects_list %}
                <div class="sub-head">
                    <h5 class="sub-head">{{project}}</h5>
                </div>

                <div class="maps">
                    {% for map in maps %}
                    <ul>
                        <li><a href="{{map.id}}/">{{map.title}}     </a><img src="{{map.image.url}}"></li>
                    </ul>
                    {% endfor %}

                </div>
                {% endfor %}
                {% else %}
                    <p>No maps are available.</p>
                {% endif %}
            </div>

            <div class="pubs">
                <div class="pubs-header sub-head">
                    <h4 class="sub-head">Selected Publications</h4>
                </div>
                {% if pubs_list %}
                <ol>
                    {% for pub in pubs_list %}
                    <li><a href ="{{pub.link}}">{{pub.citation}}</a></li>
                    {% endfor %}
                    {% endif %}
                </ol>
            </div>



            <div class="projects">
                <div class="proj-header sub-head">
                    <h4 class="sub-head">Other Projects Online</h4>
                </div>
                <ul>
                    <li><a href="https://web.ung.edu/gis/hallco/historic/index.html">Image Processing and Rectification of Historic North Georgia Imagery for Web based History Project</a></li>
                    <li> <a href="https://github.com/johnpdees">Python Projects and Contributions on Github</a></li>
                </ul>


            </div>
        </div>
    </div>


{% endblock %}
