{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Blog Archive{% endblock %}

{% block content %}

        <div class="row">

            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 align="center">Dees Thoughts I'm Having!</h1>

                    <h3 align="center">The Blog Space of John Dees</h3>
                </div>
                <h3 align="left">Archive</h3>
            </div>

        </div>

        <div class="row">
            <div class=" col-md-12">

                    <a class="btn btn-primary" href="{% url "blog:index" %}">Recent</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="environment" %}">Environment</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="politics" %}">Politics</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="technology" %}">Technology</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="other" %}">Other</a>
                    <a class="btn btn-primary" href="{% url "blog:archive"  %}">Archive</a>

            </div>
        </div>

        <div class="row">

            <div class="col-md-8">
                {% for blog in blog_list %}
                <h5><a href="{{blog.id}}/">{{blog.title}} {{blog.pub_date}}</a></h5>

                {% endfor %}
            </div>

            <div class="col-md-4">

            </div>

        </div>


    </div>



{% endblock %}