{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}{{blog.title}}{% endblock %}

{% block content %}

        <div class="row">

            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 align="center">Dees Thoughts I'm Having!</h1>

                    <h3 align="center">The Blog Space of John Dees</h3>
                </div>
            </div>

        </div>

        <div class="row">
            <div class=" col-md-12">

                    <a class="btn btn-default" href="..">Recent</a>
                    <a class="btn btn-default" href="../topic/environment">Environment</a>
                    <a class="btn btn-default" href="../topic/politics">Politics</a>
                    <a class="btn btn-default" href="../topic/technology">Technology</a>
                    <a class="btn btn-default" href="../topic/other">Other</a>
                    <a class="btn btn-default" href="../archive">Archive</a>

            </div>
        </div>

        <div class="row">

            <div class="col-md-8">
                <h3>{{blog.title}}</h3>
                <h5><b>By {{blog.author}}</b></h5>
                <h5>Published {{blog.pub_date}}</h5>
                <p align="justify">{{blog.content | safe}}</p>
            </div>

            <div class="col-md-4">

            </div>

        </div>


    </div>


{% endblock %}