{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Dees Thoughts I'm Having!{% endblock %}

{% block content %}

        <div class="row">

            <div class="col-md-12 contact">
                <div>
                    <h3 align="center">Dees Thoughts I'm Having!</h3>

                    <h5 align="center">The Blog Space of John Dees</h5>
                </div>
                <h3 align="left">Recent Posts</h3>
            </div>




            <div class="col-md-12 contact">

                    <a class="btn btn-primary" href=".">Recent</a>
                    <a class="btn btn-primary" href="./topic/environment">Environment</a>
                    <a class="btn btn-primary" href="./topic/politics">Politics</a>
                    <a class="btn btn-primary" href="./topic/technology">Technology</a>
                    <a class="btn btn-primary" href="./topic/other">Other</a>
                    <a class="btn btn-primary" href="./archive">Archive</a>

            </div>



            <div class="left col-md-12 contact">
                {% for blog in blog_list %}
                <h5><a href="{{blog.id}}/">{{blog.title}}</a></h5>
                <p align="justify">{{blog.short}}</p>
                {% endfor %}
            </div>

        </div>





{% endblock %}