{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}{{topic_name}}{% endblock %}

{% block content %}

        <div class="row">


            <div class="col-md-12 contact">
                <div>
                    <h3 align="center">Dees Thoughts I'm Having!</h3>

                    <h5 align="center">The Blog Space of John Dees</h5>

                    <h3 align="left">{{topic_name}}</h3>
                </div>

            </div>

        </div>


            <div class="col-md-12 contact">

                    <a class="btn btn-primary" href="{% url "blog:index" %}">Recent</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="environment" %}">Environment</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="politics" %}">Politics</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="technology" %}">Technology</a>
                    <a class="btn btn-primary" href="{% url "blog:topic" topic_name="other" %}">Other</a>
                    <a class="btn btn-primary" href="{% url "blog:archive"  %}">Archive</a>

            </div>




            <div class="col-md-8">
            {% if in_list == 'True' %}
                {% for blog in blog_list %}
                <h3><a href="../{{blog.id}}/">{{blog.title}}</a></h3>
                <p align="justify">{{blog.short}}</p>
                {% endfor %}
            {% else %}
                <p>There are no articles in this topic area</p>
            {% endif %}


            </div>

            <div class="col-md-4">

            </div>




    </div>


{% endblock %}